celery[redis]
channels
channels-redis
daphne

Django>=4.2,<4.3
django-jet-reboot
django-autoslug
django-crequest
django-environ

djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-rest-swagger
drf-api-tracking
drf-spectacular[sidecar]

uvicorn
gunicorn
Pillow
psycopg[binary]
python-dateutil
requests
user-agents
