aioredis
asgi-redis
asgiref
celery
channels
channels-redis
coinaddr
constantly
cryptography
daphne
Django>=3.2.*
django-3-jet==1.0.8
django-autoslug
django-crequest
django-environ
djangorestframework
dnspython
email-validator
et-xmlfile
gunicorn
isort
pep8
Pillow
psycopg2-binary
python-dateutil
pytz
PyYAML
qrcode
redis
requests
tablib
Twisted
xlrd
xlwt
user-agents
